.container{
    background-color: #0b090a;
    flex-direction: row;
    display: flex;
}

.info{
    flex-direction: column;
    width: 50%;
    text-align: left;
    margin-left: 40px;
}

.dni{
    width: 50%;
    flex-direction: column;
}

.img {
    width: 300px;
    border: 2px solid #B71C1C;
    border-radius: 5px ;
    margin-bottom: 5px;
    margin-top: 20px;
  }