.paginado-button {
    background-color: #660708;
    color: white;
    border: 1px solid #0B090A;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .paginado-button:hover {
    background-color: #A4161A;
  }

  .current-page {
    background-color: #E5383B;
    color: white;
  }